<div id='TitleBand' style='position:absolute; background: linear-gradient(90deg, rgba(255,0,0,1)  0%, rgba(9,9,11,1) 2%, rgba(2,0,2,1) 100%); left:-1%; top:0%; width:101%; height:18%'>
    <div            style="position:absolute; left:4%;  top:0%; width:20%; height:20%"><img width="70%" src='{{ TopicImage }}'/></div>
    <div id='Title' style='position:absolute; left:22%; top:0%; width:76%; height:10%; color:#777'><h3>{{ TopicTitle }}</h3></div>
</div>
<a href='javascript:popupFirstYakk()'><div id="FirstYakk"  style="position:absolute; background:#555; opacity:0.6; left:44.1%; top:22%; width:52.8%; height:16.0%; font-size:0.7em; color:#999; box-sizing:border-box; padding:12px; border-radius:10px; ">{{FirstYakk}}</div></a>
<div id="PageCounter"  style="position:absolute; background:#null; opacity:0.5; text-align:center; left:3%; top:38%; width:30%; height:6%; font-size:1.2em; color:#b8d">3 / 23</div>

<div id="Yakks"  style="position:absolute; background:#null; left:4%; top:46%; width:92%; height:80%; box-sizing:border-box; padding:14px; ">
    {{Yakks}}
</div>

<div id="Yakks2"  style="position:absolute; z-index:30000; background:#null; left:0%; top:-4.5%; width:92%; height:80%; box-sizing:border-box; padding:14px; ">
    <svg height="100" width="100" xmlns="http://www.w3.org/2000/svg">
        <circle r="45" cx="50" cy="50" stroke="rgb(200,100,240, 0.5)" stroke-width="4" fill="none" />
    </svg>
</div>

<div style="position:absolute; z-index:40000; background:#null; left:87%; top:-6%; width:8%; height:4%">
    {{Dislikes}} &nbsp; {{Likes}}
</div>

